/* overpass-regular - latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/overpass-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/overpass-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/overpass-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/overpass-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/overpass-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/overpass-v12-latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
  }
  /* overpass-700 - latin */
  @font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/overpass-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/overpass-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/overpass-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/overpass-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/overpass-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/overpass-v12-latin-700.svg#Overpass') format('svg'); /* Legacy iOS */
  }

  *, *::before, *::after {
     box-sizing: border-box;
   }

   * {
     margin: 0;
   }

   html, body {
     height: 100%;
   }

   body {
    background-color: hsl(216, 12%, 8%);
    margin: 30px;
    display: flex;
    flex-direction: column;
   }

   img, picture, canvas, svg {
     display: block;
     max-width: 100%;
   }

   .ratingcard { 
    background-color: hsl(213, 19%, 18%);
   }

   .card--size {
    max-width: 375px;
    height: 340px;
    border-radius: 10px;
    padding: 30px 20px 30px 20px;
   }

   .ratingcard__fieldset {
    border-style: none;
    font-family: 'Overpass';
    padding: 0;
   }

   legend {
    font-weight: 700;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    padding: 20px 0px 0px 0px;
   }

   .ratingcard::before {
    content: url(images/icon-star.svg);
   }

   .ratingcard__description {
    font-weight: 400;
    font-size: 0.938rem;
    color: hsl(217, 12%, 63%);
    padding-top: 20px;
   }

   input[type="radio"] {
    appearance: none;
   }

  .ratingcard__btn-grp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

   .ratingcard__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(216, 12%, 24%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }

   label {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 0.938rem;
    color: hsl(217, 12%, 63%);
   }

   input[type="radio"]:hover {
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
   }

   label:hover {
    color: hsl(0, 0%, 100%);
   }

   .ratingcard__submit {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    height: auto;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    margin-top: 25px;
   }

   .ratingcard__submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
   }

   .thankcard {
    background-color: hsl(213, 19%, 18%);
    font-family: 'Overpass';
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .thankcard::before {
    content: url(images/illustration-thank-you.svg);
    margin-top: 20px;
   }

   .thankcard__sel-rating {
    font-weight: 400;
    font-size: 0.938rem;
    color: hsl(25, 97%, 53%);
    padding-top: 20px;
   }

   .thankcard__word {
    font-weight: 700;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    padding-top: 20px;
   }

   .thankcard__para {
    font-weight: 400;
    font-size: 0.938rem;
    color: hsl(217, 12%, 63%);
    text-align: center;
    padding-top: 20px;
   }

   .attribution {
    text-align: center;
    color: hsl(0, 0%, 100%);
   }